<template name="staff">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Bobby Dabrieo</h2>
                <strong>Head Coach</strong><br>
                <img src="/media/coaches/dabrieo.JPG"/>
                <br>
                <p style="font-size: 12px;">
                    Coach Dabrieo will be taking over the Head Coaching role for the Mustangs’ program this upcoming
                    2016 season. This will be Dabrieo’s first season as a collegiate head coach, but he has a long
                    history of success in both the playing and coaching ranks. Dabrieo was a four-year starter on
                    offense at NCAA DIII Plymouth State University from 2003-2006. He led the Panthers in scoring during
                    his junior season and earned All-Conference honors in his senior campaign.
                </p>
                <p style="font-size: 12px;">
                    After earning his Business Management degree from Plymouth State, Dabrieo developed a successful
                    career as a marketing manager for a direct flower broker. While balancing his business career,
                    Dabrieo remained heavily involved with lacrosse and served as an assistant coach for Reading High
                    School in Reading, Massachusetts, a program that won league titles during each season that Coach
                    Dabrieo was on the staff.
                </p>
                <p style="font-size: 12px;">In 2015, Dabrieo joined the staff at NCAA Division III Daniel Webster
                    College as the Offensive
                    Coordinator and guided the Eagles’ offense to a twelve goals per game average, doubling their output
                    from the previous season. Dabrieo has also been the Head Coach for the East Coast Rockets, a
                    powerful Massachusetts high school club team.
                </p>
                <p style="font-size: 12px;">“I'm very grateful for the opportunity to coach at Cal Poly, it's always
                    been a dream of mine to be
                    the head coach of a collegiate team,” said Dabrieo. “Cal Poly Lacrosse is rich with tradition and
                    I'm looking forward to the challenge of maintaining success both on and off the field. The four
                    years of these student athlete's lives are so important and it is my responsibility to create as
                    many life lasting memories as possible.”</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Josh Moore</h2>
                <strong>Offensive Coordinator</strong><br>
                <img src="/media/coaches/moore.jpg"/>
                <br>
                <p style="font-size: 12px;">
                    Josh hails from La Mesa, CA, about 15 miles from San Diego, and played his high school lacrosse at
                    Grossmont High School, earning All-League honors his Junior and Senior seasons.
                </p>
                <p style="font-size: 12px;">
                    While playing for Cal Poly from 2004-2007, he played a mixture of offensive midfield and attack,
                    playing for two teams who made the national tournament after the 2004 and 2006 seasons.
                </p>
                <p style="font-size: 12px;">In 2015, Dabrieo joined the staff at NCAA Division III Daniel Webster
                    After graduating with a double major in Economics and Business Administration, he found a job at a
                    local software company, which affords him the luxury of being able to still live in beautiful San
                    Luis Obispo, while pursuing his dream of one day being a world-famous lacrosse coach.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Chris Nespor</h2>
                <strong>Defensive Coordinator</strong><br>
                <img src="/media/coaches/nespor.JPG"/>
                <br>
                <p style="font-size: 12px;">
                    Chris Nespor will transition to the sidelines this 2016 season after one of the most decorated
                    careers in Mustang program history. On the field, Chris was a dominant long-stick midfielder who led
                    the team in takeaways and creating transition opportunities throughout his four-year career.
                </p>
                <p style="font-size: 12px;">
                    Coach Nespor earned a host of awards during his player career, including being named an MCLA
                    All-American in his junior and senior seasons. Chris was also a first-team WCLL All-Conference
                    player in his junior and senior seasons, a two-time team captain, and a two-time Academic
                    All-American. After his graduation this past June, Chris enrolled in Cal Poly’s School of Education
                    and is currently working toward obtaining his teaching credential in mathematics.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Brendon Shearin</h2>
                <strong>Assistant Coach - Offense</strong><br>
                <img src="/media/coaches/shearin.JPG"/>
                <br>
                <p style="font-size: 12px;">
                    Coach Shearin grew up in New Hampshire and attended NCAA D3 Clarkson University in upstate New York.
                    Brendon was an offensive midfielder at Clarkson earning several All-Liberty League honors, a USILA
                    All-American award, and was selected for the NCAA North-South Senior All-Star game.
                </p>
                <p style="font-size: 12px;">
                    Coach Shearin studied mechanical engineering and works as a process engineer in the water treatment
                    industry. Prior to moving to San Luis Obispo for work and coming on board the Mustang coaching staff
                    this past summer, Brendon was an assistant coach at NCAA D3 Keene State College during the 2014 and
                    2015 seasons.
                </p>
            </div>
        </div>
    </div>

</template>