<template name="roster">
    <div class="animated fadein">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Year</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>High School</th>
                        <th>Home Town</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lord, Austin</td>
                        <td>Mid</td>
                        <td>So</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Pacific Grove</td>
                        <td>Pacific Grove, CA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Corbolotti, John</td>
                        <td>So</td>
                        <td>Att</td>
                        <td>6'0"</td>
                        <td>165</td>
                        <td>St. Ignatius</td>
                        <td>San Rafael, CA</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Guralas, AJ</td>
                        <td>Att</td>
                        <td>Fr</td>
                        <td>5'10"</td>
                        <td>180</td>
                        <td>Los Altos</td>
                        <td>Los Altos, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Player, Generic</td>
                        <td>Mid</td>
                        <td>Jr</td>
                        <td>6'0"</td>
                        <td>180</td>
                        <td>Some School</td>
                        <td>Some Town, CA</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>