<template name="newsWidget">
    <div class="jumbotron">
        {{> story1}}
        <hr>
        {{> story2}}
    </div>
</template>

<template name="story1">
    <h2>Cal Poly Wins Thriller over the Sun Devils</h2>
    <div style="text-align: left;">
        <p>February 20, 2016 (Tempe, AZ) - The Cal Poly Mustangs (#7) traveled to Arizona
            State University (#3) today and came away with a win in a thriller, 5-4.</p>
        <img src="/media/2016_vs_ASU_large.jpg" width="300px" align="right" style="margin-left: 10px;"/>
        <p>With a team that has only a single senior on its roster, the Cal Poly Mustangs won a close, hard fought
            victory over ASU Sun Devils. The match was tied three different times.</p>
        <p>Cal Poly drew first blood with 4:01 left in the first quarter with a goal from freshman Patrick Schneider
            off a nifty assist from Andrew Laron. Arizona came back with two goals in the second quarter to take a
            2-1 lead going into half time.</p>
        <p>Cal Poly evened the score at 2-2 with 9:32 remaining in the quarter with a goal by freshman AJ Guralas
            with the assist from Patrick Schneider. The Mustangs continued their third quarter scoring binge with a
            goal at 6:45 from Andrew Laron assisted by Sophomore Ben Berkow. The quarter scoring ended with just
            three seconds left in the quarter when Loran again found the back of the net off a feed from Joe
            Dresser. Arizona added another tally in the third and the Mustangs ended the quarter leading 4-3.</p>
        <p>Going into the fourth quarter Cal Poly took a two goal lead at 9:04 when with Joe Dresser finished off a
            terrific feed from John Corboletti with a blistering shot into the top corner of the net. Arizona added
            another goal late in the fourth and rallied hard but fell short.</p>
        <p>The game was most notable for the defensive play of the Mustangs, led by yet another sterling performance
            in goal by team captain Sean Pihl. Pihl repeatedly denied ASU’s offense and led a spectacular defensive
            performance that smothered and throttled a stalwart Arizona offense. It made for a difficult day for the
            Sun Devils and a great team victory for the Mustangs in their inaugural season under new head coach
            Bobby Dabreio</p>
        <p>Defensive Coordinator Chris Nespor stated “We played a real solid game defensively. We stuck to the game
            plan and kept ASU’s offense from taking high percentage shots. When they did break our defense Pihl made
            some great saves, including a handful in the 4th quarter that helped finish the game."</p>
    </div>
</template>

<template name="story2">
    <h2>Cal Poly Men's Lacrosse names Bobby Dabrieo as their new Head Coach</h2>
    <div style="text-align: left;">
        <img src="/media/Dabrieo_medium.jpg" width="150px" align="right" style="margin-left: 10px;"/>
        <p>November 17, 2015 (San Luis Obispo) – Cal Poly Lacrosse has named Bobby Dabrieo as the new head coach for the
            upcoming 2016 season, Team Administrator and former head coach Marc Lea announced on Tuesday.</p>
        <p>“It took us longer than we would have liked to find the right person for this job, but as the old saying goes
            – good things come to those who wait”, said Lea. “We are really excited for Coach Dabrieo to join the
            program. He has a lot of high quality coaching experience, but it was his passion for the game and his
            enthusiasm for teaching the game that really stood out for us. As much success as we have had over the years
            in the MCLA, we still recognize that player development is the key to long-term success. We are not as
            concerned with how the good the players are when they arrive here as with how good they are when they
            graduate, and we are really confident that will be a big strength of Coach Dabrieo’s.”</p>
        <p>Dabrieo has a long history of success in both the playing and coaching ranks. Dabrieo was a four-year starter
            on offense at NCAA DIII Plymouth State University from 2003-2006. He led the Panthers in scoring during his
            junior season and earned All-Conference honors in his senior campaign.</p>
        <p>After earning his Business Management degree from Plymouth State, Dabrieo developed a successful career as a
            marketing manager for a direct flower broker. While balancing his business career, Dabrieo remained heavily
            involved with lacrosse and served as an assistant coach for Reading High School in Reading, Massachusetts, a
            program that won league titles during each season that Coach Dabrieo was on the staff.</p>
        <p>In 2015, Dabrieo joined the staff at NCAA Division III Daniel Webster College as the Offensive Coordinator
            and guided the Eagles’ offense to a twelve goals per game average, doubling their output from the previous
            season. Dabrieo has also been the Head Coach for the East Coast Rockets, a powerful Massachusetts high
            school club team, for the past several years.</p>
        <p>“I'm very grateful for the opportunity to coach at Cal Poly, it's always been a dream of mine to be the head
            coach of a collegiate team,” said Dabrieo. “Cal Poly Lacrosse is rich with tradition and I'm looking forward
            to the challenge of maintaining success both on and off the field. The four years of these student athlete's
            lives are so important and it is my responsibility to create as many life lasting memories as possible.”</p>
        <p>Dabrieo will be taking over the reins of the Mustang program from long-time coach Marc Lea, who compiled the
            winningest record in program history during his fifteen years leading the team. Dabrieo joins a talented and
            knowledgeable coaching staff, which includes current interim head coach, Josh Moore, who is in his 6th
            season as the Offensive Coordinator. The Mustangs have three additional coaches in their first year with
            team, including former Mustang MCLA All-American LSM Chris Nespor, former Clarkson University NCAA Division
            III All-American midfielder Brendon Shearin, and Matt Leal, a Mustang team captain from the 2009 squad.</p>
        <p>"I'm very excited to bring Coach Dabrieo on and start working with him”, Coach Moore responded. “During the
            interview process, we had great rapport and share a lot in common with regards to how we coach.
            Additionally, this year's team is very young, with only a handful of seniors. Numerous underclassmen will
            have to step up and contribute, so Coach Dabrieo has a great opportunity for player development and will be
            able to work with largely the same team for the next couple of seasons."</p>
        <p>Cal Poly made their first MCLA National Tournament appearance in 2002, and in the thirteen years since their
            debut they have returned to the tournament nine times and earned five Western Collegiate Lacrosse League
            (WCLL) titles. In 2015, the Mustangs finished the season ranked #6 nationally, dropping a close game to
            eventual title winner Grand Canyon University. </p>

    </div>
</template>