<template name="stats">
    <div class="animated fadein">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Year</th>
                        <th>GP</th>
                        <th>GB</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>FO</th>
                        <th>FO%</th>
                        <th>APG</th>
                        <th>GPG</th>
                        <th>PPG</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lord, Austin</td>
                        <td>Mid</td>
                        <td>So</td>
                        <td>1</td>
                        <td>15</td>
                        <td>2</td>
                        <td>2</td>
                        <td>4</td>
                        <td>21</td>
                        <td>0.857</td>
                        <th>2</th>
                        <th>2</th>
                        <th>4</th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>